.container {
  display: flex;
  gap: 20px;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}
.title{
  display: flex;
  margin-inline: auto;
  color: blue;
}
#carList {
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  gap: 25px;
  border-radius: 5px;
  margin-top: 5px;
  max-width: 1400px;
}
.liclass{
  border-radius: 11px;
  text-align: center;
  color: #fff;

}
.carInfo {
  border: #001 solid 1px;
  padding: 10px;
  border-radius: 15px;
  font-weight: 600;
}
.box1 {
  background: rgba(0, 0, 255, 0.205);
  padding: 20px;
  font-size: 2rem;
  width: 300px;
  position: fixed;
  margin-left: -80px;

}
.carInfo{
  max-height: 320px;
}
.box2 {
  max-width: 1000px;
  display: flex;
  margin-left: auto;
  padding-inline: auto;
}
.img-item{
  border-radius: 10px;
}
.delete-btn{
  margin-top: 10px;
  display: flex;
  text-align: center;
  width: 30px;
  border: none;
  margin-inline: auto;

}
.list-item{
  padding-top: 6px;
}
